.place__title {
    font-size: 4.5rem;
    line-height: 1.06;
    font-weight: 900;
    margin: 0;
    grid-area: 1/1/2/2;
}

@media screen and (max-width: 1000px) {
    .place__title {
        font-size: max(42px, calc(72px - (1000px - 100vw) / 8.1));
    }
}

@media screen and (max-width: 700px) {
    .place__title {
        margin: 0 auto 32px;
        max-width: calc(100vw - 32px);
        font-size: max(32px, calc(2.23vw + 24.857px));
    }
}
