.place__image {
    width: 460px;
    grid-area: 2/1/3/2;
    margin: 0;
}

@media screen and (max-width: 1100px) {
    .place__image {
        width: 440px;
    }
}

@media screen and (max-width: 950px) {
    .place__image {
        width: 380px;
    }
}

@media screen and (max-width: 800px) {
    .place__image {
        width: 340px;
    }
}

@media screen and (max-width: 700px) {
    .place__image {
        width: 100vw;
        margin: 0 0 32px;
    }
}