.cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    width: 64%;
    margin: 0 auto;
    position: relative;
    grid-area: 3 / 2 / 4 / 3;
    z-index: 1;
}

@media screen and (max-width: 600px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        width: max-content;
        max-width: 90vw;
    }
}
