.photo-grid__item {
  margin: 0;
  padding: 0;
  width: max(calc(((100vw - 96px) - 3rem) / 4), 270px);
  max-width: 370px;
}

@media screen and (max-width: 1230px) {
  .photo-grid__item {
    width: calc(((100vw - 97px) - 28px) / 3);
  }
}

@media screen and (max-width: 940px) {
  .photo-grid__item {
    width: calc(((100vw - 49px) - 1rem) / 2);
    max-width: 450px;
  }
}

@media screen and (max-width: 610px) {
  .photo-grid__item {
    width: calc(100vw - 33px);
    max-width: 580px;
  }
}
