.intro {
  width: max-content;
  margin: 92px calc(100vw - (100vw - 984px) / 2) 92px calc((100vw - 984px) / 2);
}

@media screen and (max-width: 1100px) {
  .intro {
    margin: 92px 48px;
  }
}

@media screen and (max-width: 900px) {
  .intro {
    margin: 88px 24px;
    width: calc(100vw - 48px);
  }
}

@media screen and (max-width: 720px) {
  .intro {
    margin: 64px 16px;
    width: calc(100vw - 32px);
  }
}
