.lead__subtitle {
    max-width: 640px;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto 64px;
}

@media screen and (max-width: 1100px) {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 720px) {
    .lead__subtitle {
        margin-bottom: 40px;
        font-size: max(16px, calc(3.13vw + 6px));
        line-height: 1.25;
        max-width: 90vw;
    }
}