.photo-grid__items {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, min-content);
  grid-template-rows: repeat(3, min-content);
  gap: 1rem;
  margin: 0;
  width: calc(100vw - 96px);
}

@media screen and (max-width: 1230px) {
  .photo-grid__items {
    grid-template: repeat(4, min-content) / repeat(3, min-content);
    gap: 14px;
  }
}

@media screen and (max-width: 940px) {
  .photo-grid__items {
    gap: 13px 16px;
    width: calc(100vw - 48px);
    grid-template: repeat(6, min-content) / repeat(2, min-content);
  }
}

@media screen and (max-width: 610px) {
  .photo-grid__items {
    width: calc(100vw - 32px);
    grid-template-columns: min-content;
    gap: 9px;
  }
}
