.place {
    width: 984px;
    margin: 0 auto 80px;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2, min-content);
    padding: 0;
    column-gap: 40px;
    row-gap: 48px;
}

.place:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 1100px) {
    .place {
        width: 928px;
    }
}

@media screen and (max-width: 928px) {
    .place {
        width: 720px;
    }
}