.place__website {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: opacity 1.2s linear;
    width: 95%;
    height: min-content;
    align-self: end;
}